:root {
  --color-navy: #2b283a;
  --color-pink: #f55a5a;
  --color-gray: #918e9b;
  --color-gray-20: #f5f5f5;
  --color-gray-30: #f5f7fb;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

nav {
  overflow: hidden;
  background-color: var(--color-pink);

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

nav > h1 {
  font-weight: 500;
  color: white;
}

nav > img {
  margin-right: 10px;
}
